<div class="row">
  <div class="col-sm-2">
    <div class="thumbnail">
      <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
    </div>
  </div>
  <div class="col-sm-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= link_to comment.user.username, comment.user %></strong> <span class="text-muted">commented <%= time_ago_in_words(comment.created_at) %> ago</span>
      </div>
      <div class="panel-body">
        <%= comment.body %>
        <% if policy(comment).destroy? %>
          <%= link_to "", article_comment_path(comment.article, comment), method: :delete, class: "glyphicon glyphicon-remove pull-right", data: {toggle: "tooltip"}, title: "Delete Comment" %>
        <% end %>
      </div>
    </div>
  </div>
</div>