/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require 'masonry/infinitescroll'
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap-sprockets";
 @import "bootstrap";

.top-padding {
  padding-top: 70px;
}

.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}

.affix {
	top: 70px;
}

.navbar-nav {
	padding-top: 2px;
}

.search {
	padding-bottom: 10px;
}

.border-top {
	border-top: 1px solid gray;
	padding-top: 8px;
}

.border-bottom {
	border-bottom: 1px solid gray;
}

.follow-stats {
	margin-left: 15px;
}

.vote-btn {
	padding-top: 4px;
  	padding-bottom: 0px;
  	padding-right: 5px;
  	font-size: 25px;
  	line-height: 1.33;
}

.article-panel {
	padding-bottom: 0px;
}